{%extends 'fields/field_properties_base.html' %}
{%block validations%}
    <div class="form-group">
        <div ng-repeat = "option in editor.selectedField.options">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn pull-right" ng-click = "editor.deleteOption($index)">
                         <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    </span>
                    <input class="form-control" 
                           ng-model="editor.selectedField.options[editor.selectedField.options.indexOf(option)].label" 
                           required/>
                </div>  
            </div>               
        </div>
        
        <button type="button" class="btn btn-default btn-xs" 
                data-toggle="modal" 
                data-target="#myModal">
            <span class="glyphicon glyphicon-star"></span>
            Add More Options
        </button>
    </div>
{%endblock%}