{% verbatim %} 
    <div ng-cloak ac-chart="field.chart" 
          ac-data= "field.data" 
          ac-config= "field.conf" 
          class="chart col-md-7">
    </div>
    <div ng-cloak class="col-md-5">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Type</td>
                    <td>{{field.type}}</td>    
                </tr>
                <tr>
                    <td>Mean</td>
                    <td>{{field.m}}</td>
                <tr>
                    <td>Total Mean</td>
                    <td>{{field.mt}}</td>
                </tr>
                <tr>
                    <td>Standard Deviation</td>
                    <td>{{field.sd}}</td>
                </tr>
                <tr>
                    <td>Total Standard Deviation</td>
                    <td>{{field.sdt}}</td>
                </tr>
                <tr>
                    <td>Answered fields</td>
                    <td>{{field.tf}}</td>    
                </tr>
                <tr>
                    <td>Empty fields</td>
                    <td>{{field.tnf}}</td>
                </tr>
                <tr>
                    <td>Required</td>
                    <td>{{field.req}}</td>    
                </tr>
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" href="export-pdf/{{s.formId}}/{{s.versionNumber}}/{{field.id}}">Export PDF
        </a>
    </div>
{% endverbatim %}
