{%extends 'fields/field_template_base.html' %}
{%block field%}
    {% verbatim %} 
        <button style="border:none;background:none" ng-show="question.tooltip!=undefined && question.tooltip!=''" tooltip="{{question.tooltip}}" tooltip-trigger tooltip-placement="top">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
        <input  class="form-control TextField"
            type="text" 
            ng-model="question.answer[0]"  
        	ng-required="question.required && showValues[question.field_id]"
        	ng-maxlength="{{question.validations.max_len_text}}"
        	fieldtype="{{question.field_type}}"
        	validate
        />
    {% endverbatim %} 
{%endblock%}

