{% verbatim %}

		  	<div class="jumbotron" style="padding-top:0px">
			  	<div class="container">
				  	<h3 style="margin-bottom:50px">
					  	<span class="label label-success">
						    <captcha field1="{{field1}}" operator="{{operator}}" field2="{{field2}}"></captcha>
						</span>
					</h3>
					<div class="row" > 
					    <input type="text" class="form-control" ng-model="resultado" />
					</div>
					<div class="text-right">
						<button  ng-click="enviarCaptcha(resultado)" class="btn btn-primary">
						   Submit captcha
						</button>
					</div>
				</div>
			</div>
		  
		

{% endverbatim %}
