{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django surveys - submitted</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body class="radial-center">
        <div class="success-message">
        {% for line in message %}
    		<h1>{{line}}<!--Thanks! You succesfully filled the form!--> </h1>
        {% endfor %}
		</div>
        <script src={% static "jquery/js/jquery-2.1.3.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.js" %}></script>
        <script src={% static "angular/angular.js" %}></script>
        <script src={% static "angular/checklist-model.js" %}></script>
        <script src={% static "bootstrap/js/ui-bootstrap.min.js" %}></script>
        <script src={% static "js/appVisor.js" %}></script>
        <script src={% static "js/visorCtrl.js" %}></script>
    </body>
    
</html>
        
   