{% load staticfiles sekizai_tags load_fields_assets %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% verbatim %}
    <title>Django surveys - {{instance}}</title>
    {% endverbatim %}
    {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% endaddtoblock %}
    {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endaddtoblock %}
</head>
<div ng-app="dynamicFormsFramework" ng-controller="VisorCtrl as visor">
    <script type="text/javascript">
    var instance = "{{instance}}"
    var base_url = "{{base_url}}"
    var errors = "{{errors}}"
    </script>
    <div ng-include="'{{base_url}}visor_template'"></div>
</div>

{% addtoblock "js" %}
<script src={% static "jquery/js/jquery-2.1.3.min.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "bootstrap/js/bootstrap.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "angular/angular-file-upload-shim.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "angular/angular.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "angular/angular-resource.min.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "angular/angular-file-upload.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "angular/captcha.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "angular/checklist-model.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "bootstrap/js/ui-bootstrap.min.js" %}></script>
{% endaddtoblock %}

{% fields_assets_block %}

{% addtoblock "js" %}
<script src={% static "js/appVisor.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "js/services/visorResources.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "js/directives/question.js" %}></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src={% static "js/visorCtrl.js" %}></script>
{% endaddtoblock %}

{% render_block "jsUnc" %}
